@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype");
}
body {
  color: #3a3a3a;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}
.btn {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ff8c00;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  transition: all 0.1s ease;
}
.btn:hover {
  background-color: #ffc600;
}
.section {
  background-color: white;
}
.section__title {
  background-color: #ff8c00;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-bottom: 20px;
  position: relative;
}
.section__title::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #ff8c00;
  right: -10px;
  top: 0;
  transform: skewX(-20deg);
}
.section__title h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.slider {
  width: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider input[type=radio] {
  display: none;
}
.slider__slides {
  width: 1000px;
  margin: 0 auto;
}
.slider__inner {
  width: 4000px;
  display: -ms-flexbox;
  display: flex;
  font-size: 0px;
  transition: all 1s ease;
}
.slider__item {
  width: 1000px;
  position: relative;
  overflow: hidden;
  transform: skewX(-10deg);
  margin-right: -90px;
}
.slider__item:first-child {
  margin-right: -45px;
  transform: skewX(0deg);
}
.slider__item:first-child img {
  transform: translateX(0px);
}
.slider__item:first-child .slider__info,
.slider__item:first-child .slider__btn {
  transform: skewX(0deg);
}
.slider__item img {
  transform: skewX(10deg) translateX(-45px);
}
.slider__info {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-top: 45px;
  margin-left: 100px;
  transform: skewX(10deg);
  z-index: 1;
}
.slider__info b {
  color: #ff8c00;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.slider__info p {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ff8c00;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.slider__btn {
  position: absolute;
  bottom: 23px;
  right: 150px;
  transform: skewX(10deg);
  z-index: 1;
}
.slider__control {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  margin-top: -50px;
}
.slider__control label {
  display: none;
  height: 100px;
}
.slider-icon {
  fill: #ff8c00;
  cursor: pointer;
}
.slider-icon:hover {
  filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.31));
}
input[id="slide1"]:checked ~ .slider__slides > .slider__inner {
  margin-left: 0px;
}
input[id="slide2"]:checked ~ .slider__slides > .slider__inner {
  margin-left: -950px;
}
input[id="slide3"]:checked ~ .slider__slides > .slider__inner {
  margin-left: -1860px;
}
input[id="slide4"]:checked ~ .slider__slides > .slider__inner {
  margin-left: -2730px;
}
input[id="slide1"]:checked ~ .slider__control > label[for="slide2"] {
  display: inline-block;
  transform: rotateZ(0deg);
  margin-left: auto;
}
input[id="slide2"]:checked ~ .slider__control > label[for="slide1"] {
  display: inline-block;
  transform: rotateZ(180deg);
}
input[id="slide2"]:checked ~ .slider__control > label[for="slide3"] {
  display: inline-block;
  transform: rotateZ(0deg);
}
input[id="slide3"]:checked ~ .slider__control > label[for="slide2"] {
  display: inline-block;
  transform: rotateZ(180deg);
}
input[id="slide3"]:checked ~ .slider__control > label[for="slide4"] {
  display: inline-block;
  transform: rotateZ(0deg);
}
input[id="slide4"]:checked ~ .slider__control > label[for="slide3"] {
  display: inline-block;
  transform: rotateZ(180deg);
  margin-right: auto;
}
.sorting {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: #3a3a3a;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sorting__filter-link {
  opacity: 0.5;
  color: white;
}
.sorting__filter-link_active {
  opacity: 1;
}
.sorting__view {
  display: -ms-flexbox;
  display: flex;
}
.sorting__view a {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;
  margin-left: 10px;
}
.sorting__view-list {
  background-image: url(../../img/icons/icon-list.svg);
}
.sorting__view-list_active {
  opacity: 1;
}
.sorting__view-grid {
  background-image: url(../../img/icons/icon-grid.svg);
}
.sorting__view-grid_active {
  opacity: 1;
}
.car-list {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: white;
  padding-top: 20px;
}
.car-list-item {
  width: 748px;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #3a3a3a;
  margin-bottom: 20px;
}
.car-list-item:hover {
  border-color: #ff8c00;
}
.car-list-item__img {
  width: 333px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
}
.car-list-item__img img {
  width: 100%;
}
.car-list-item__info {
  width: 415px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}
.car-list-item__title {
  margin: 0;
  padding: 0;
}
.car-list-item__title a {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3a3a3a;
  text-decoration: none;
}
.car-list-item__title a:hover {
  color: #ff8c00;
  text-decoration: underline;
}
.car-list-item__price {
  font-size: 24px;
  color: #ff4800;
  text-transform: uppercase;
  font-weight: 700;
}
.car-list-item__desc {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.car-list-item__characteristic {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 5px;
}
.car-list-item__characteristic span {
  font-size: 15px;
  font-weight: 700;
}
.footer-contacts {
  width: 300px;
}
.footer-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-contacts__list li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}
.footer-contacts__icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../../img/icons/icon-call.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}
.footer-contacts__icon_email {
  background-image: url(../../img/icons/icon-email.svg);
}
.footer-contacts__icon_map {
  background-image: url(../../img/icons/icon-map.svg);
}
.footer-contacts__link {
  color: #ff8c00;
  text-decoration: none;
  font-weight: 700;
}
.footer-contacts__link:hover {
  text-decoration: underline;
}
.footer-links {
  width: 300px;
  text-align: right;
}
.footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer-links__link {
  color: white;
}
.footer-links__link_active {
  color: #ff8c00;
}
.footer-links__link:hover {
  color: #ff8c00;
  text-decoration: none;
}
.footer-social {
  width: 300px;
  text-align: center;
}
.footer-social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-social__icon {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../../img/icon-fb.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.3;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}
.footer-social__icon:hover {
  opacity: 1;
}
.footer-social__icon_vkontakte {
  background-image: url(../../img/icon-vk.png);
}
.footer-social__icon_youtube {
  background-image: url(../../img/icon-yt.png);
}
.main-footer {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: #3a3a3a;
  color: white;
  padding-top: 20px;
}
.main-footer__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.main-footer__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-header__wrapper {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: white;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-header__logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.main-header__logo h1 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 10px;
}
.main-header__logo a {
  color: #3c3c3c;
  text-decoration: none;
}
.main-header__logo a:hover {
  color: #ff8c00;
}
.main-nav__list {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  display: inline-block;
  color: #3c3c3c;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.main-nav__link_active {
  font-weight: 700;
  color: white;
  background-color: #ff8c00;
  cursor: default;
}
.main-nav__link:hover {
  padding-bottom: 20px;
  border-bottom: 5px #ff8c00 solid;
}
.novetly {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  padding-top: 20px;
}
.novetly__cars {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.novetly__car {
  width: 470px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 45px;
}
.novetly__photos-car {
  margin-bottom: 20px;
}
.novetly__info {
  text-align: center;
}
.novetly__car-title {
  display: block;
  color: #3a3a3a;
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 20px;
}
.novetly__car-title:hover {
  color: #ff8c00;
}
.novetly__characteristic {
  margin-bottom: 10px;
}
.novetly__characteristic span {
  font-size: 16px;
  font-weight: 700;
}
.novetly__characteristic strong {
  font-weight: 400;
}
.novetly__price {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.novetly__price strong {
  color: #ff4800;
}
.novetly__btn {
  margin-top: 20px;
}
.the-best {
  width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.the-best__list {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.the-best__item {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}
.the-best__icon {
  height: 150px;
  margin-bottom: 20px;
}
.the-best__icon img {
  height: 100%;
}
.the-best__item-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.the-best__desc {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}
.title-page {
  width: 1000px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-height: 190px;
  margin: 0 auto;
  background-image: url(../../img/road.jpg);
  background-position: center;
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.title-page__topic {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  opacity: 0.7;
}
.title-page__crumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
}
.title-page__crumbs-link {
  color: white;
}
.title-page__crumbs-link[href] {
  padding-right: 20px;
  position: relative;
}
.title-page__crumbs-link[href]:after {
  content: '/';
  position: absolute;
  right: 7px;
  text-decoration: none;
}
